@import url("https://use.typekit.net/apz2fux.css");

html {
	font-size: 20px;
}

.body {
	display: flex;
	flex-direction: row;
} 

.body-dark {
	background-color: var(--primary-dark);
	color: var(--primary-light);
}

.aside-and-main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: var(--grid-gap);
	margin: 0 var(--grid-gap) 0 var(--grid-gap);
	max-width: 100vw;
}

.main {
	grid-column: 4/13;
	margin: var(--grid-gap) 0 var(--grid-gap) 0;
}


/* @media screen and (max-width: 800px) {
	html {
		font-size: 15px;
	}
} */

@media screen and (max-width: 480px) {

	body {
		padding: var(--mobile-grid-gap);
	}

	.aside-and-main {
		margin: 0;
	}

	.main {
		margin: var(--mobile-grid-gap) 0 3.33vw 0;
	}
}