:root {

	--large-text-size: 2.3vw;
	--body-text-size: 1.13vw;
	--small-text-size: 0.7vw;

	--mobile-large-text-size: 8.2vw;
	--mobile-body-text-size: 4.17vw;
	--mobile-small-text-size: 2.08vw;

	--primary-font-family: neue-haas-grotesk-text, sans-serif;
	
	--black: #000000;
	--white: #FFFFFF;
	--purple: #9747FF;
	--grey: #E7E7E7;

	--grid-gap: 0.69444444vw;
}