:root {
	--large-text-size: 2.5vw;
	--body-text-size: 1.388888888888889vw;

	--primary-font-family: neue-haas-grotesk-text, sans-serif;
	
	--black: #000000;
	--white: #FFFFFF;
	--purple: #9747FF;
	--grey: #E7E7E7;

	--grid-gap: 0.69444444vw;
}