.image__text-hover {
	display: none;
	margin: 1rem 10vw 0 1rem;
}

.image__text-width {
	width: 40%;
}

.image__text-paragraph {
	font-size: var(--body-text-size);
	color: var(--white);
}

.image__text-h2 {
	font-family: var(--primary-font-family);
	font-size: var(--large-text-size);
	color: var(--white);
}

.image__text-visible:hover > .image__text-hover {
	display: block;
}

.image__text-visible:hover {
	background-image: none;
	background-color: black;
}
