.aside__underline {
	background: var(--primary-light);
}

 .aside__navigation > a {
	color: var(--primary-light);
}

.aside__logo:hover > .aside__logo-white {
	display: none;
}

.aside__logo:hover > .aside__logo-hover--true {
	display: block;
}

.aside__title {
	background: black;
}

.aside__title-hamburger-menu div {
	background: var(--primary-light);
}	

.aside__title-hamburger-menu.open div {
	background: var(--primary-light);
}

.aside__navigation--fixed {
	background: black;
}

.event__buttons-dark {
	background-color: var(--primary-light);
	color: var(--primary-dark);
}