.aside__underline {
	background: var(--white);
}

 .aside__navigation > a {
	color: var(--white);
}

.aside__logo:hover > .aside__logo-white {
	display: none;
}

.aside__logo:hover > .aside__logo-hover--true {
	display: block;
}

.aside__title-hamburger-menu div {
	background: var(--white);
}	

.aside__title-hamburger-menu.open div {
	background: var(--white);
}