.aside {
	position: sticky;
	top: var(--grid-gap);
	grid-column-start: 1;
	grid-column-end: 4;
	margin: var(--grid-gap) 0 var(--grid-gap) 0;
	overflow-y: scroll;
	max-height: 100vh;
}

.aside::-webkit-scrollbar {
	display: none;
}

.aside__logo-hover--true {
	display: none;
}

.aside__title {
	font-family: var(--primary-font-family);
	font-weight: 700;
	font-style: normal;
	font-size: var(--large-text-size);
	white-space: nowrap;
}

.aside__underline {
	height: 1px;
	background: var(--primary-dark);
	margin: 1vw 0 1vw 0;
}

.aside__about {
	font-family: 'Times New Roman', Times, serif;
	font-size: var(--body-text-size);
}

.aside__navigation {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	font-family: 'Times New Roman', Times, serif;
	font-size: var(--large-text-size);
}

.aside__logo {
	position: relative;
}

.aside__logo-hover--true {
	position: absolute;
	top: 0;
	left: 0;
}

.aside__logo-hover--false {
	position: relative;
	top: 0;
	left: 0;
}

.aside__logo:hover > a > .aside__logo-hover--true {
	display: block;
	z-index: 90;
}

@media screen and (max-width: 480px) {
	.aside {
		position: unset;
		height: unset;
		margin: 0;
		overflow-y: unset;
	}

	.aside__about {
		display: none;
	}

	.aside__underline {
		display: none;
	}

	.aside__navigation {
		display: none;
	}
} 