.aside__title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.aside__title-hidden {
	display: none;
}

.aside__navigation-hidden {
	display: none;
}

.aside__search-button {
	display: none;
}

.aside__search-input {
	display: none;
}

.search-icon-circle--active {
	stroke: var(--highlight);
}

.search-icon-stick--active {
	stroke: var(--highlight);
}

.hamburger-icon-line--active {
	stroke: var(--highlight);
}

.aside__title-hamburger-menu {
	display: none;
}

@media screen and (max-width: 480px) {

	.body {
		display: flex;
		flex-direction: column;
	}

	.aside-and-main {
		display: flex;
		flex-direction: column;
	}

	.aside {
		max-width: 100%;
	}

	.aside__title {
		display: flex;
		position: sticky;
		top: var(--mobile-grid-gap);
		flex-direction: row;
		z-index: 3;
		align-items: center;
		font-size: 7vw;
		justify-content: space-between;
		margin-top: 1vw;
		background: white;
	}

	.aside__title--fixed {
		display: flex;
		position: fixed;
		top: -5px;
		left: 0;
		z-index: 6;
		width: 100vw;
		/* top: var(--mobile-grid-gap); */
		flex-direction: row;
		align-items: center;
		font-size: 7vw;
		justify-content: space-between;
		padding: var(--mobile-grid-gap);
		background: white;
	}

	.aside__title h1 {
		white-space: nowrap;
	}

	.aside__title-hidden div {
		height: 10.208333333333vw;
		width: 95.839583333333vw;
	}

	.aside__title-hidden--active {
		display: unset;
	}

	.aside__navigation-hidden div {
		height: 48.958333333333vw;
		width: 95.839583333333vw;
	}

	.aside__navigation-hidden--active {
		display: unset;
	}

	.aside__search-button {
		display: block;
		height: 7.99vw;
		/* width: 7.99vw; */
	}

	.search-icon {
		display: flex;
		max-height: 100%;
		max-width: 100%;
		/* border: 1px solid black; */
	}

	.aside__search-input {
		display: none;
	}
	
	.aside__search-input--active {
		display: block;
		position: absolute;
		height: 10vw;
		width: 71vw;
		/* margin-top: 2vw; */
		padding: 2vw;
		font-family: 'Times New Roman', Times, serif;
		font-size: var(--mobile-large-text-size);
		border-radius: var(--mobile-grid-gap);
		border: black 1px solid;
	}

	.hamburger-icon {
		display: flex;
		height: 7vw;
		width: 10vw;
	}

	.aside__title-hamburger-menu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 7vw;
		width: 10vw;
	}

	.aside__title-hamburger-menu div {
		height: 1vw;
		width: 10vw;
		background-color: var(--primary-dark);
		position: absolute;
		right: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.25s ease-in-out;
		-moz-transition: 0.25s ease-in-out;
		-o-transition: 0.25s ease-in-out;
		transition: 0.25s ease-in-out;
	}
	
	.aside__title-hamburger-menu div:nth-child(1) {
		top: 0;
	}
	
	.aside__title-hamburger-menu div:nth-child(2), 
	.aside__title-hamburger-menu div:nth-child(3) {
		top: 3vw;
	}
	
	.aside__title-hamburger-menu div:nth-child(4) {
		top: 6vw;
	}
	
	.aside__title-hamburger-menu.open div {
		background: var(--primary-dark);
	}
	
	.aside__title-hamburger-menu.open div:nth-child(1) {
		opacity: 0;
	}
	
	.aside__title-hamburger-menu.open div:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
	.aside__title-hamburger-menu.open div:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	
	.aside__title-hamburger-menu.open div:nth-child(4) {
		opacity: 0;
	}

	.aside__navigation--active {
		display: flex;
		flex-direction: column;
		cursor: pointer;
		font-family: 'Times New Roman', Times, serif;
		font-size: var(--mobile-large-text-size);
	}
	
	.aside__navigation--fixed {
		display: flex;
		position: fixed;
		top: 10.30vw;
		width: 100%;
		padding: var(--mobile-grid-gap);
		left: 0;
		z-index: 5;
		background: white;
		flex-direction: column;
		font-family: 'Times New Roman', Times, serif;
		font-size: var(--mobile-large-text-size);
	}
}