.subscribe {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	bottom: 1%;
	padding: .4rem 1rem;
	font-size: var(--large-text-size);
	font-weight: 600;
	background-color: #E7E7E7;
	border-radius: .3rem;
	z-index: 99;
}

.subscribe__mobile {
	display: none;
}

.subscribe__exit {
	width: 1rem;
	height: 1rem;
	background-image: url(/assets/icons/Close.svg);
	background-size: contain;
}

.hidden {
	display: none;
}

@media screen and (max-width: 480px) {
	.subscribe {
		font-size: var(--mobile-large-text-size);
	}
	
	.subscribe__desktop {
		display: none;
	}

	.subscribe__mobile {
		display: block;
	}

	.subscribe__exit {
		width: .8rem;
		height: .8rem;
	}
} 