.events__heading {
	font-size: var(--body-text-size);
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
}

.events__navigation {
	display: flex;
	gap: 0.5vw;
	margin: -0.5vw 0 -0.5vw 0;	
}

.events__navigation-button {
	font-size: var(--small-text-size);
	text-transform: uppercase;
	border: .1vw solid var(--primary-dark);
	border-radius: 1vw;
	padding: .2vw .5vw;
}

.events__content-lectures,
.events__content-exhibitions,
.events__content-seminars {
	margin: 1vw 0;
	display: block;
}

.events__navigation-button:hover {
	background: var(--primary-dark);
	color: var(--primary-light);
} 

.event__buttons-dark {
	border-color: var(--primary-light);
}

.events__content-info {
	font-size: var(--small-text-size);
	text-transform: uppercase;
	font-weight: 300;
}

.events__content-heading {
	font-size: var(--body-text-size);
	font-weight: 300;
}

.events__navigation-link:hover {
	color: var(--primary-light);
	background-color: var(--primary-dark);
}

.events__horizontal-line {
	display: none;
}

@media screen and (max-width: 480px) {
	
	.events__heading {
		display: none;
	}
	
	.events__navigation {
		display: none;
	}
	
	.events__navigation-button,
	.events__navigation-button,
	.events__navigation-button {
		display: none;
	}

	.events__container {
		display: flex;
		flex-direction: row;
		position: sticky;
		margin-top: 0.25rem;
		max-width: 100%;
		height: 17.5vw;
		overflow-x: scroll;
		overflow-y: hidden;
	}

	.events {
		display: flex;
		margin-right: 7.5vw;
		width: 100%;
		border-right: .075vw solid;
	}

	.events__content-lectures,
	.events__content-exhibitions,
	.events__content-seminars {
		display: flex;
		flex-direction: column;
	}

	.events__content-info,
	.events__content-heading {
		display: flex;
		flex-direction: column;
		width: 75vw;
		margin-right: 5vw;
	}

	.events__filtering {
		display: none;
	}

	.events__content-info {
		font-size: var(--mobile-small-text-size);
	}

	.events__content-heading {
		font-size: var(--mobile-body-text-size);
	}

	.events__horizontal-line {
		display: block;
		margin-top: 1vw;
		margin-bottom: 1vw;
	}
}